* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: black;
}


header h2 {
    display: flex;
    font-size: 100%;
    margin: 1vh 1vh 1vh 2vh;
}

body {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: white 3px;
    display: flex;
    background-color: rgb(19, 19, 19);
    margin: 3vh 3vh 3vh 3vh;
    justify-content: space-between;
    font-size: 300%;    
}


main h3 {
    display: flex;
    justify-content: center;
    margin-right: 15vh;
    margin-top: 4.5vh;
}

footer {
    display: flex;
    font-size: 30%;
    align-items: flex-end;
    padding-top: 92vh;
}

@media only screen and (max-width: 900px) {
    body {
        font-size: 250%;
        text-align: center;
        flex-direction: column;
        
    }
    header h2 {
        font-size: 200%;
        margin-top: 1vh;
        justify-content: center;
    }
    main {
        font-size: 100%;
        flex-wrap: wrap;
        padding: 1vh 0 0 0;
        margin: 0 0 0 15vh
    }

    footer {
        padding-top: 10vh;
    }
}